name: Build

on:
  push:
    branches: master
  pull_request:
    branches: '*'

defaults:
  run:
    shell: bash -l {0}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - name: Setup conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        mamba-version: "*"
        channels: conda-forge

    - name: Mamba install dependencies
      run: mamba install python=3.8 pip yarn jupyterlab=3 ipywidgets=7.6

    - name: Install the ipytree Python package
      run: pip install .

    - name: Check installation files
      run: |
        test -d $CONDA_PREFIX/share/jupyter/nbextensions/ipytree
        test -f $CONDA_PREFIX/share/jupyter/nbextensions/ipytree/extension.js
        test -f $CONDA_PREFIX/share/jupyter/nbextensions/ipytree/index.js
        test -d $CONDA_PREFIX/share/jupyter/labextensions/ipytree
        test -f $CONDA_PREFIX/share/jupyter/labextensions/ipytree/package.json

    - name: Check JupyterLab and Jupyter Notebook extensions
      run: |
        jupyter nbextension list 2>&1 | grep -ie "ipytree/extension.*enabled" -
        jupyter labextension list 2>&1 | grep -ie "ipytree.*enabled.*ok" -

    - name: Browser check
      run: python -m jupyterlab.browser_check
